.gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
  }

.color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

.izquierda {
    float: left;
  }

.derecha {
    float: left;
  }

.azul {
    background: #ffdd57;
  }

.azul.light {
    background: #ffeeab;
  }

.morado {
    background: #3273dc;
  }

.morado.light {
    background: #99b9ee;
  }

.naranja {
    background: #f14668;
  }

.naranja.light {
    background: #f8a3b4;
  }

.verde {
    background: #48c774;
  }

.verde.light {
    background: #a4e3ba;
  }

.btn-start 
{
    width: 200px;
    height: 100px;
  }

.hide {
    display: none;
  }
